.aboutus-container {
  background-color: white;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutus-container .heading {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
