.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .icon  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px ;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .icon img{
    height: 190px;
    width: 100%;
    border-radius: 10px ;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .card-shape {
    background-color: #171717;
    height: 350px;
    width: 300px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 23%);
    border-radius: 10px ;
    padding: 0px;
    margin: 35px;
  }
  .card-shape .icon {
    height: 190px;
    color: white;
  }
  
  .card-shape:hover{
      transform: scale(1.1);
      transition: 0.7s ease;
  }
  .info{
    padding: 10px;
  }
  .info h3 {
      color: var(--light-blue);
  }
  .info p{
      color: white;
  }