.person-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}
.header-info {
  display: flex;
  justify-content: center;

}

.person-icon {
  background-image: url(../../services/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  /* border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; */
  height: 150px;
  width: 150px;
  margin-top: 10px;
}

.person-card-shape {
  height: 350px;
  width: 300px;
  /* box-shadow: 0 5px 25px rgba(255, 255, 255, 0.23); */
  border: 2px ridge var(--light-blue) ;
  border-radius: 10px;
  padding: 0px;
  margin: 25px;
}
.person-card-shape .icon {
  height: 190px;
  color: white;
}

.person-card-shape:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}
.person.info {
  padding: 10px;
}
.full-name{
  color: var(--light-blue);
}
.person.info p {
  color: white;
}
