.topbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  top: 0;
  z-index: 2;
}
.wrapper {
  padding: 10px 40px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo-background {
  height: 70px;
  width: 70px;
  background-image: url(../../../../utils/images/DevEra\ logo.png);
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo:hover {
  text-decoration: none;
  color: var(--light-blue);
}

.right {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 300px;
}

.right a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.right a:hover {
  color: var(--light-blue);
  text-decoration: none;
}
